<h2>Received messages</h2>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Email</th>
			<th>Message</th>
		</tr>
	</thead>

	<tbody>
		{{#each model as |message|}}
			<tr>
				<th>{{ message.email }}</th>
				<td>{{ message.message }}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
